@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
  font-weight: 800;
}

hr {
  border-top: 1px solid hsl(236, 13%, 42%);
}

/* TROUBLSHOOTING CSS  */
